<div class="content">
  <h2><span class="yellow">Do you already have an account at {{title}}</span> </h2>
  <p>YES, <a href="/auth/login2">log in!</a></p>
  <p>NO, <a href="/auth/signup">create an account.</a></p>
</div>