<div class="content">
  <h2><span class="yellow">Log in</span></h2>

  <form action="/auth/login2" method="POST" id="form-container">
    <div class="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="JonSnow">
    </div>
    <div class="form-container">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
    </div>
    {{#if message }}
    <div class="error-message"><span class="red"> {{ message }}</span></div>
    {{/if}}
    <button class="myButton" id="form-button">Login</button>
    <p class="account-message">Don't have an account yet?<a href="/auth/signup"> Sign up!</a>
    </p>
  </form>
</div>