<div class="content">
  <h2><span class="yellow"> Sign up</span></h2>
  <div class="form-wrapper">
    <form action="/auth/signup" method="POST" id="form-container">
      <div class="form-container">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="JonSnow">
      </div>
      <div class="form-container">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password">
      </div>
      {{#if message }}
      <div class="error-message"><span class="red"> {{ message }}</span></div>
      {{/if}}
      <button class="myButton" id="form-button">Create account</button>
      <p class="account-message">Do you already have an account?<a href="/auth/login1"> Log in!</a>
      </p>
    </form>
  </div>
</div>