<div class="content-about">
  <h2><span class="yellow first-line"> About {{title}}</span></h2>
  <p>{{title}} is a platform that connects Berliners who own a transferable annual public transport pass with those who
    are coming to the city and want to find a cheap way to get around. </p>
  <h2><span class="yellow first-line"> Are you an owner of the annual BVG pass?</span></h2>
  <p>If you are leaving the city for a longer period of time and you would like to earn some extra cash, just upload
    your annual BVG pass <a href="/addTicket">HERE</a>! Once you receive a request, you can set up the details for the
    ticket handover yourself. If you are risk averse, don't forget to agree on the deposit!</p>
  <h2><span class="yellow first-line">Would like to use public transport at low prices?</span></h2>
  <p> If you are coming to Berlin, you will most probably end up using the public transport. It is super convenient, efficient, but also expensive. But no worries, <a href="/search">HERE</a>  you can rent one of the transferable annual passes and travel like a real Berliner. Not only you will save a lot of money compared to the daily passes, you can also take 1 adult and 3 children with you after 8pm on weekdays and all day at weekends.</p>
</div>