<h2><span class="yellow">Available tickets</span></h2>
<br>



<div class="available-tickets"></div>
{{#each allTickets}}
<div class="ticket">
  <div class="zone col-4">
    <p>{{zone}}</p>
  </div>
  <div class="price col-4">
    <p>{{totalPrice}}</p>

  </div>
  <div class="contact col-4">
    <p>Contact {{owner}}</p>
  </div>
</div>
{{/each}}
</div>