<div class="home-container">
  <div class="center">
    <h2><span class="yellow">Just arrived to Berlin</span></h2>
    <h2><span class="yellow">and need a cheap way to get around?</span></h2>
    <button class="myButton"><a href="/search">Find your TICKET!</a></button>
  </div>
</div>