<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="form-container">
    <form action="/organization" method="GET">
        <label for="organization">
        </label>
        <input type="text" name='organization' id="organization">
        <button type="submit">Search for an organization</button>
    </form>
</div>