@font-face {
	font-family: frutiger;
	src: url("/fonts/bvg.otf");
}

* {
	font-family: frutiger;
	margin: 0;
	padding: 0;
}

.home-container {
	background-image: url("/images/berlin.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

h2 {
	overflow: hidden;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.yellow {
	background-color: #ffe44d;
	font-style: italic;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 15px;
}

.first-line {
	margin-left: 10px;
	margin-top: 20px;
}

.second-line {
	margin-left: 70px;
}

.third-line {
	margin-left: 30px;
}

.content {
	padding-top: 30px;
	padding-left: 50px
}

.myButton {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #007BFF;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.ticket {
	width: 80vw;
	height: 15vh;
	min-height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 5px;
	margin: 10px;
	font-size: 1.5rem;
	text-align: center;
}

.ticket p {
	height: 100%;
}

.available-tickets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-container label {
	display: flex;
	flex-direction: row;
	width: 150px;
	text-align: right;
}

.form-container input {
	width: 300px;
	text-align: left;

}

.form-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

form {
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 20px
}

#until,
#from {
	width: 150px;
}